.control-default{
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 27px;
	transition: all 0.1s linear;
	border-radius: 15px;
	font-size: 12px;
}

.control-default:hover{
	color:#0cbbef;
	background-color: #fff;
}

.control-search{
	position: relative;
}

.control-search-input{
	background-color: #fff;
	color: #ccc;
	border: 0px;
	border-radius: 14px;
	padding: 9px 40px 7px 13px;
	max-width: 200px;
	font-size: 12px;
}

.control-search:before{
	content:url(../../images/search-icon-hovered.png);
	display: none;
}

.control-search-input-icon{
	display: inline-block;
	background-image: url(../../images/search-icon.png);
	background-repeat: no-repeat;
	position: absolute;
	right: -1px;
	top:0px;
	width: 32px;
	height: 30px;
}

.control-search:hover .control-search-input-icon{
	background-image: url(../../images/search-icon-hovered.png);
}

.control-checkbox-cont{
	margin-bottom: 15px;
	padding-left: 10px;
}

.control-checkbox-cont input{
	display: none;
}

.control-checkbox-label{
	cursor: pointer;
	color:#fff;
	padding-left: 20px;
	background-repeat:no-repeat;
	background-position: center left;
	font-size: 12px;
}

.control-checkbox-label:before{
	content: url(../../images/checked.png);
	display: none;
}

.control-checkbox-label:after{
	content: url(../../images/unchecked.png);
	display: none;
}

.control-checkbox-label.enabled{
	background-image: url(../../images/checked.png);
}

.control-checkbox-label.disabled{
	background-image: url(../../images/unchecked.png);
}

 .control-radio-cont{
 	margin-bottom: 15px;
 	padding-left: 20px;
 }

.control-radiobutton{
	display: none;
}

.control-radiobutton-label{
	background-image: url(../../images/radio-unchecked.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
	color:#fff;
	cursor: pointer;
	font-size: 12px;
}

.control-radiobutton-label:before{
	content: url(../../images/radio-checked.png);
	display: none;
}

.control-radiobutton:checked + .control-radiobutton-label{
	background-image: url(../../images/radio-checked.png);
}

.btn-big{
	display: inline-block;
	padding:10px 40px;
	color:#fff;
	font-size: 20px;
	cursor: pointer;
}

.btn-gradient{
	background: #8FF4F1; /* Old browsers */
    background: -moz-linear-gradient(left, #8FF4F1 0%, #599CE8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #8FF4F1 0%,#599CE8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #8FF4F1 0%,#599CE8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ef3ef', endColorstr='#039fee',GradientType=1 ); /* IE6-9 */
    -webkit-backface-visibility: hidden;
    position: relative;
    z-index: 1;
}

.btn-gradient span{
	position: relative;
	z-index: 3;
}

.btn-gradient:after{
	content:"";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0px;
	left: 0px;
	border-radius: inherit;
	background: #599EEC;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.3s linear;
}

.btn-gradient:hover:after{
	opacity: 1;
}

.btn-rounded{
	border-radius: 25px;

}

.btn-small{
	color:#fff;
	display: inline-block;
	border: 1.5px solid #fff;
	border-radius: 20px;
	padding: 5px 16px 3px;
	transition: all 0.3s linear;
	cursor: pointer;
}

.btn-small:hover{
	color:#599EEC;
	border-color:#fff;
	background-color:#fff;
}
